In [3]:
import sqlite3 as sql

In [ ]:
"""Practice #1
1. Based on the table design below, create tables using CREATE statements.
a. When creating tables, figure out appropriate data types from the sample data in the
tables.
2. Insert data into the tables using INSERT statements.
3. At this point, you don’t have to be worried about foreign key references between the
tables"""

In [12]:
# create file for SQLite database we will make since it doesn’t exist)
conn = sql.connect('/Users/a14806/Desktop/DNP Program/Fall 2025/Clinical Database Design/hw5.db')
cursor = conn.cursor()

# Enable foreign key constraints
cursor.execute("PRAGMA foreign_keys = ON;")

# Drop existing tables if they exist (for clean recreation)
tables = [
    "PATIENT",
    "ICD",
    "DRUG_FORMULARY",
    "DIAGNOSIS",
    "DRUG_ORDER",
]
for t in tables:
    cursor.execute(f"DROP TABLE IF EXISTS {t};")

In [13]:
# Create tables

#PATIENT table
cursor.execute("""
CREATE TABLE PATIENT (
    PID INTEGER PRIMARY KEY,
    FirstName TEXT,
    LastName TEXT,
    Gender TEXT,
    Age INTEGER
);
""")
#ICD table
cursor.execute("""
CREATE TABLE ICD (
    SystemName TEXT,
    Code TEXT PRIMARY KEY,
    Description TEXT,
    EffectiveDts DATE
);
""")
#drug_formulary table
cursor.execute("""
CREATE TABLE DRUG_FORMULARY (
    DID INTEGER PRIMARY KEY,
    Name TEXT,
    Strength TEXT,
    DoseForm TEXT,
    Route TEXT
);
""")

In [16]:
#Now put in data using 'insert'

# Insert Data into PATIENT 
patients = [
    (1001, 'John', 'Porter', 'Male', 30),
    (1002, 'Jaehoon', 'Adams', 'Male', 15),
    (1003, 'Alice', 'Smith', None, 22),
    (1004, 'Lisa', 'Hong', 'Female', 78),
    (1005, 'Maria', 'Lopez', 'Female', None),
    (1006, 'Mike', 'Johnson', 'Male', 34)
]


# Insert Data into ICD 
icd_data = [
    ('ICD9CM', '250.00', 'Type 2 diabetes mellitus without complications', '2017-10-01'),
    ('ICD9CM', '174.9', 'Malignant neoplasm of unspecified site of unspecified female breast', '2017-10-01'),
    ('ICD9CM', '175.9', 'Malignant neoplasm of unspecified site of unspecified male breast', '2017-11-01'),
    ('ICD9CM', '401', 'Essential (primary) hypertension', '2017-12-15'),
    ('ICD10CM', 'C18.0', 'Malignant neoplasm of cecum', '2018-12-01'),
    ('ICD9CM', '162.9', 'Malignant neoplasm of bronchus and lung unspecified', '2018-01-01'),
    ('ICD9CM', '153.9', 'Malignant neoplasm of colon, unspecified site', '2018-01-15')
]

# Insert Data into DRUG_FORMULARY 
drugs = [
    (5000, 'Oxaliplatin', None, None, 'IV'),
    (5001, 'Metformin hydrochloride', '500 MG', 'Oral Tablet', None),
    (5002, 'Paclitaxel', '5 mg/ml', 'Injectable Suspension', 'IV'),
    (5003, 'Metoprolol', None, 'Tablet', 'Oral'),
    (5004, 'Xeloda', '500 mg', None, None),
    (5005, 'Fluticasone propionate', '0.1 mg/actuat', 'Inhalant Product', None),
    (5006, 'Ipilimumab', '5 mg/ml', 'Injectable Solution', None)
]


# Commit changes
conn.commit()

In [17]:
#Now print out so we can verify both our tables and data points were created, inserted, and look accurate

print("PATIENT TABLE:")
for row in cursor.execute("SELECT * FROM PATIENT;"):
    print(row)

print("\nICD TABLE:")
for row in cursor.execute("SELECT * FROM ICD;"):
    print(row)

print("\nDRUG_FORMULARY TABLE:")
for row in cursor.execute("SELECT * FROM DRUG_FORMULARY;"):
    print(row)

PATIENT TABLE:
(1001, 'John', 'Porter', 'Male', 30)
(1002, 'Jaehoon', 'Adams', 'Male', 15)
(1003, 'Alice', 'Smith', None, 22)
(1004, 'Lisa', 'Hong', 'Female', 78)
(1005, 'Maria', 'Lopez', 'Female', None)
(1006, 'Mike', 'Johnson', 'Male', 34)

ICD TABLE:
('ICD9CM', '250.00', 'Type 2 diabetes mellitus without complications', '2017-10-01')
('ICD9CM', '174.9', 'Malignant neoplasm of unspecified site of unspecified female breast', '2017-10-01')
('ICD9CM', '175.9', 'Malignant neoplasm of unspecified site of unspecified male breast', '2017-11-01')
('ICD9CM', '401', 'Essential (primary) hypertension', '2017-12-15')
('ICD10CM', 'C18.0', 'Malignant neoplasm of cecum', '2018-12-01')
('ICD9CM', '162.9', 'Malignant neoplasm of bronchus and lung unspecified', '2018-01-01')
('ICD9CM', '153.9', 'Malignant neoplasm of colon, unspecified site', '2018-01-15')

DRUG_FORMULARY TABLE:
(5000, 'Oxaliplatin', None, None, 'IV')
(5001, 'Metformin hydrochloride', '500 MG', 'Oral Tablet', None)
(5002, 'Paclitaxel', '5 mg/ml', 'Injectable Suspension', 'IV')
(5003, 'Metoprolol', None, 'Tablet', 'Oral')
(5004, 'Xeloda', '500 mg', None, None)
(5005, 'Fluticasone propionate', '0.1 mg/actuat', 'Inhalant Product', None)
(5006, 'Ipilimumab', '5 mg/ml', 'Injectable Solution', None)

In [ ]:
#now use pandas to print out column titles and make all pretty
import pandas as pd

df = pd.read_sql_query("SELECT * FROM PATIENT;", conn)
print(df)

    PID FirstName LastName  Gender   Age
0  1001      John   Porter    Male  30.0
1  1002   Jaehoon    Adams    Male  15.0
2  1003     Alice    Smith    None  22.0
3  1004      Lisa     Hong  Female  78.0
4  1005     Maria    Lopez  Female   NaN
5  1006      Mike  Johnson    Male  34.0

In [ ]:
# do for ICD table and as well to verify accuracy
dficd = pd.read_sql_query("SELECT * FROM ICD;", conn)
print(dficd)

  SystemName    Code                                        Description  \
0     ICD9CM  250.00     Type 2 diabetes mellitus without complications
1     ICD9CM   174.9  Malignant neoplasm of unspecified site of unsp...
2     ICD9CM   175.9  Malignant neoplasm of unspecified site of unsp...
3     ICD9CM     401                   Essential (primary) hypertension
4    ICD10CM   C18.0                        Malignant neoplasm of cecum
5     ICD9CM   162.9  Malignant neoplasm of bronchus and lung unspec...
6     ICD9CM   153.9      Malignant neoplasm of colon, unspecified site

  EffectiveDts
0   2017-10-01
1   2017-10-01
2   2017-11-01
3   2017-12-15
4   2018-12-01
5   2018-01-01
6   2018-01-15

In [23]:
# do for DRUG_FORMULARY table and as well to verify accuracy
dfdrug = pd.read_sql_query("SELECT * FROM DRUG_FORMULARY;", conn)
print(dfdrug)

    DID                     Name       Strength               DoseForm Route
0  5000              Oxaliplatin           None                   None    IV
1  5001  Metformin hydrochloride         500 MG            Oral Tablet  None
2  5002               Paclitaxel        5 mg/ml  Injectable Suspension    IV
3  5003               Metoprolol           None                 Tablet  Oral
4  5004                   Xeloda         500 mg                   None  None
5  5005   Fluticasone propionate  0.1 mg/actuat       Inhalant Product  None
6  5006               Ipilimumab        5 mg/ml    Injectable Solution  None

In [ ]:
"""Practice #2
1. Based on the table design below, create database tables using CREATE statements.
a. Figure out appropriate data types from the given sample data below.
2. Insert data into the tables using INSERT statements.
3. From the columns in the tables, figure out necessary foreign keys and add their
referential information"""

In [ ]:
#create new tables of DIAGNOSIS and DRUG_ORDER

#DIAGNOSIS table
# --- CREATE TABLES ---
cursor.executescript("""
CREATE TABLE DIAGNOSIS (
    DxID INTEGER PRIMARY KEY,
    PID INTEGER,
    DxCode TEXT,
    InitialDxDts DATE,
    DxStatus TEXT,
    FOREIGN KEY (PID) REFERENCES PATIENT(PID),
    FOREIGN KEY (DxCode) REFERENCES ICD(Code)
);

CREATE TABLE DRUG_ORDER (
    OrderID INTEGER PRIMARY KEY,
    PID INTEGER,
    DID INTEGER,
    OrderDts DATE,
    OrderStatus TEXT,
    FOREIGN KEY (PID) REFERENCES PATIENT(PID),
    FOREIGN KEY (DID) REFERENCES DRUG_FORMULARY(DID)
);
""")

In [32]:
#insert data into diagnosis and drug_order tables
diagnoses = [
    (101, 1001, '250.00', '2003-01-12', 'Active'),
    (102, 1001, '174.9', '2005-07-20', 'Inactive'),
    (103, 1001, '175.9', '2001-02-03', 'Active'),
    (104, 1002, 'C18.0', '2013-03-09', 'Active'),
    (105, 1002, '401', '2006-09-27', 'Active'),
    (106, 1003, '162.9', '2013-04-18', 'Active'),
    (107, 1006, '153.9', '2013-05-28', 'Active')
]
cursor.executemany("INSERT INTO DIAGNOSIS VALUES (?, ?, ?, ?, ?);", diagnoses)

orders = [
    (1, 1001, 5001, '2013-03-12', 'Complete'),
    (2, 1002, 5000, '2009-07-21', 'Complete'),
    (3, 1002, 5000, '2013-05-08', 'Discontinued'),
    (4, 1002, 5003, '2013-03-14', 'Complete'),
    (5, 1001, 5002, '2005-07-20', 'Complete'),
    (6, 1001, 5000, '2010-09-12', 'Discontinued'),
    (7, 1003, 5005, '2013-04-18', 'Complete'),
    (8, 1006, 5004, '2013-05-28', 'Pending'),
    (9, 1004, 5000, '2013-05-28', 'Complete'),
    (10, 1004, 5004, '2008-04-13', 'Complete')
]
cursor.executemany("INSERT INTO DRUG_ORDER VALUES (?, ?, ?, ?, ?);", orders)

conn.commit()

In [36]:
#now print out tables with pandas to verify

#diagnosis table
dfdiag = pd.read_sql_query("SELECT * FROM DIAGNOSIS;", conn)
print(dfdiag)

#drug order table
dfdrug = pd.read_sql_query("SELECT * FROM DRUG_ORDER;", conn)
print(dfdrug)

   DxID   PID  DxCode InitialDxDts  DxStatus
0   101  1001  250.00   2003-01-12    Active
1   102  1001   174.9   2005-07-20  Inactive
2   103  1001   175.9   2001-02-03    Active
3   104  1002   C18.0   2013-03-09    Active
4   105  1002     401   2006-09-27    Active
5   106  1003   162.9   2013-04-18    Active
6   107  1006   153.9   2013-05-28    Active
   OrderID   PID   DID    OrderDts   OrderStatus
0        1  1001  5001  2013-03-12      Complete
1        2  1002  5000  2009-07-21      Complete
2        3  1002  5000  2013-05-08  Discontinued
3        4  1002  5003  2013-03-14      Complete
4        5  1001  5002  2005-07-20      Complete
5        6  1001  5000  2010-09-12  Discontinued
6        7  1003  5005  2013-04-18      Complete
7        8  1006  5004  2013-05-28       Pending
8        9  1004  5000  2013-05-28      Complete
9       10  1004  5004  2008-04-13      Complete

In [ ]:
#Practice 3 Questions:

In [ ]:
#1. How many patients are female?

cursor.execute("SELECT COUNT(*) FROM PATIENT WHERE Gender = 'Female';")
print("1. Number of female patients:", cursor.fetchone()[0])

1. Female patients: 2

In [38]:

# 2. What is the average age of patients?
cursor.execute("SELECT AVG(Age) FROM PATIENT;")
print("2. Average age of patients:", cursor.fetchone()[0])

2. Average age of patients: 35.8

In [39]:
#3. How many times medication order was made totally?
cursor.execute("SELECT COUNT(*) FROM DRUG_ORDER;")
print("3. Total medication orders:", cursor.fetchone()[0])

3. Total medication orders: 10

In [40]:
#4. List drug orders (DID) having OrderStatus with either Complete or Pending.
cursor.execute("""
SELECT DID, OrderStatus 
FROM DRUG_ORDER 
WHERE OrderStatus IN ('Complete', 'Pending');
""")
print("4. Drug orders with Complete or Pending:")
for row in cursor.fetchall():
    print(row)

4. Drug orders with Complete or Pending:
(5001, 'Complete')
(5000, 'Complete')
(5003, 'Complete')
(5002, 'Complete')
(5005, 'Complete')
(5004, 'Pending')
(5000, 'Complete')
(5004, 'Complete')

In [41]:
#5. List ICD diagnosis codes and names with their effective dates earlier than 11/2/2017.
cursor.execute("""
SELECT Code, Description, EffectiveDts
FROM ICD
WHERE EffectiveDts < '2017-11-02';
""")
print("5. ICD codes before 2017-11-02:")
for row in cursor.fetchall():
    print(row)

5. ICD codes before 2017-11-02:
('250.00', 'Type 2 diabetes mellitus without complications', '2017-10-01')
('174.9', 'Malignant neoplasm of unspecified site of unspecified female breast', '2017-10-01')
('175.9', 'Malignant neoplasm of unspecified site of unspecified male breast', '2017-11-01')

In [42]:
#6. List ICD diagnosis codes and names having word “Malignant” in description.
cursor.execute("""
SELECT Code, Description
FROM ICD
WHERE Description LIKE '%Malignant%';
""")
print("6. ICDs with 'Malignant' in description:")
for row in cursor.fetchall():
    print(row)

6. ICDs with 'Malignant' in description:
('174.9', 'Malignant neoplasm of unspecified site of unspecified female breast')
('175.9', 'Malignant neoplasm of unspecified site of unspecified male breast')
('C18.0', 'Malignant neoplasm of cecum')
('162.9', 'Malignant neoplasm of bronchus and lung unspecified')
('153.9', 'Malignant neoplasm of colon, unspecified site')

In [43]:
#7. For each drug, show how many times they were ordered after 2010. (on or after 2011.1.1).
cursor.execute("""
SELECT DID, COUNT(*) AS OrderCount
FROM DRUG_ORDER
WHERE OrderDts >= '2011-01-01'
GROUP BY DID;
""")
print("7. Orders per drug after 2010:")
for row in cursor.fetchall():
    print(row)

7. Orders per drug after 2010:
(5000, 2)
(5001, 1)
(5003, 1)
(5004, 1)
(5005, 1)

In [44]:
#8. List medication formularies with their dose form and route are null.
cursor.execute("""
SELECT Name
FROM DRUG_FORMULARY
WHERE DoseForm IS NULL AND Route IS NULL;
""")
print("8. Drugs with DoseForm and Route NULL:")
for row in cursor.fetchall():
    print(row)

8. Drugs with DoseForm and Route NULL:
('Xeloda',)

In [45]:
#9. List first and last names of patients having at least one diagnosis.
cursor.execute("""
SELECT DISTINCT P.FirstName, P.LastName
FROM PATIENT P
JOIN DIAGNOSIS D ON P.PID = D.PID;
""")
print("9. Patients with at least one diagnosis:")
for row in cursor.fetchall():
    print(row)

9. Patients with at least one diagnosis:
('John', 'Porter')
('Jaehoon', 'Adams')
('Alice', 'Smith')
('Mike', 'Johnson')

In [46]:
#10. List first and last names of patients having both diagnosis and medication (at least once for each).
cursor.execute("""
SELECT DISTINCT P.FirstName, P.LastName
FROM PATIENT P
JOIN DIAGNOSIS D ON P.PID = D.PID
JOIN DRUG_ORDER O ON P.PID = O.PID;
""")
print("10. Patients with both diagnosis and medication:")
for row in cursor.fetchall():
    print(row)

10. Patients with both diagnosis and medication:
('John', 'Porter')
('Jaehoon', 'Adams')
('Alice', 'Smith')
('Mike', 'Johnson')

In [47]:
#11. List first and last names of patients whose medication order dose form is “Tablet”.
cursor.execute("""
SELECT DISTINCT P.FirstName, P.LastName
FROM PATIENT P
JOIN DRUG_ORDER O ON P.PID = O.PID
JOIN DRUG_FORMULARY F ON O.DID = F.DID
WHERE F.DoseForm = 'Tablet';
""")
print("11. Patients whose medication dose form is Tablet:")
for row in cursor.fetchall():
    print(row)

11. Patients whose medication dose form is Tablet:
('Jaehoon', 'Adams')

In [48]:
#12. List names and codes of medication ordered at least twice.
cursor.execute("""
SELECT F.Name, O.DID, COUNT(*) AS OrderCount
FROM DRUG_ORDER O
JOIN DRUG_FORMULARY F ON O.DID = F.DID
GROUP BY O.DID
HAVING COUNT(*) >= 2;
""")
print("12. Drugs ordered at least twice:")
for row in cursor.fetchall():
    print(row)

12. Drugs ordered at least twice:
('Oxaliplatin', 5000, 4)
('Xeloda', 5004, 2)